/* .card-body{
    background-color: #fffdd0;
} */
img {
    height: 200px;
    width: 200px;
}
body {
    /* background-color: #fffdd0; */
    /* font-family: 'Bad Script', cursive; */
    background-image: url(../images/bg1.jpg);
    font-size: 24px;
}
.img-sizing {
    height: 50px;
    width: 50px;
}